body{
    font-family: "Inter", sans-serif;
    font-family: "Merriweather",sans-serif;
}



/* header section */

header{
    background-image:url(../resources/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin-left: 100px;
    text-align: center;
    
}

header h3 {
    font-size: 30px;
    color: azure;
    font-weight: 400;
    
}
header h1 {
    font-size: 70px;
    color: azure;
    font-weight: 600;
    
}


/* holidays-deals-section */

.holiday-deals{
    margin: 50px 150px 50px 200px;
}

.holiday-title{
    text-align: center;
}
.holiday-title h1 {
    color: rgb(255, 0, 0);
    font-size: 60px;
}
.holiday-title h3{
    color: rgb(255, 0, 0);
}
.holiday-img{
    margin-left: 150px;
}

/* welcome-section */
.welcome-section{
    background-image: url(../resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin-left:100px ;
    display: flex;
    justify-content: space-around;
}
.welcome-first-div{
    padding: 70px;
    margin-top: 100px;
    
}
.welcome-first-div h1{
    font-size: 65px;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: -10px;
}
.paragraph{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.welcome-btn{
    color:aliceblue;
    background-color: rgb(243, 177, 73);
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 15px;

}
.welcome-img{
    margin-top: 100px;
}

/* join section */
.join{
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 50px 100px 50px 100px;
    height: 400px;
    padding-top: 50px;
}
.join h1{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lal{
    color: rgb(255, 0, 0);
}
.join-btn{
    padding: 15px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgb(255, 0, 0);
}

/* comming soon section */

                    /* coming1 */
.coming-soon{
    display: flex;
    margin: 20px 100px;
    gap: 50px;
    
    
}
.coming1{
    padding-top: 100px;
    width:400px;
}
.coming1 h3{
    color: rgb(255, 0, 0);
    font-size: 20px;
    margin-bottom: -20px;
}
.coming1 h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: -10px;
    
}
.paragraph2{
    color: rgba(7, 2, 17, 0.6);
}

                            /* coming2 */

.circle-img{
    border: 15px solid rgb(255, 0, 0);
    border-radius: 300px;
    padding: 20px;
    
    
}           

                            /* coming3 */
.coming3{
    width: 400px;
    padding-top: 80px;
}
.coming3 h1{
    color: rgb(255, 0, 0);
    font-size: 40px;
    margin-bottom: -10px;
}

/* holidays */
.holidays{
    text-align: center;
    margin: 80px 100px;
    padding: 20px 200px;
}
.holidays h3{
    margin-bottom: -30px;
}
.holidays h1{
    font-size: 50px;
    margin-bottom: -10px;
    
}

/* 50% discount section  */
.discount{
    margin: 0px 100px;
    

}
.discount-img{
    display: flex;
    margin-top: -100px;
}
.gift-img{
    position: relative;
    top: 150px;
    width: 600px;
    height: 500px;
}
.img-50{
    width: 300px;
    height: 300px;
    position: relative;
    top: 150px;
    left: 150px;
    
    
}
.girl{
    width: 420px;
    height: 500px;
   
}

/* portfolio section */
.portfolio{
    margin: 100px 100px;
}
.description{
    padding-right: 500px;
}
.description h3{
    color: rgb(255, 0, 0);
    margin-bottom: -20px;
}
.description h1{
    font-size: 40px;
    margin-bottom: -10px;

}
.photo{
    display: flex;
    margin-top: 8px;
    gap: 8px;
    
}

/* subscribe section */
.subscribe{
    margin: 50px 100px;
    height: 400px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05); 
    text-align: center;
    
}
.subscribe h1{
    font-size: 40px;
    margin-top: -10px;
    
}
.subscribe input {
    padding: 20px; 
    font-size: 18px;
    border-top-left-radius:100px 100px ;
    border: none;

}
.sub{
    color: aliceblue;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    font-size: 18px;
    border-top-right-radius: 100px;
    border: none;
    
}

/* footer section */
footer{
    background-color: black;
    color: aliceblue;
    padding: 50px;
}

.section1{
    display: flex;
    justify-content: space-between;
}
.div{
    display: flex;
    gap: 8px;
}

.section2{
    display: flex;
    padding-left: 500px;
    gap: 8px;
}
.section3{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}